<div class="chores">
    <h3>Chores</h3>
    <ul>
        <li *ngFor = 'let chore of chores'>{{chore}}</li>
    </ul>
    <p style = "color: red"  *ngIf = "chores.length > finishedChores.length">"Work harder!"</p>
</div>
<hr>
<div class="doneChores">
    <h3>Done Chores</h3>
    <ul>
        <li *ngFor = 'let done of finishedChores'>{{done}}</li>
    </ul>
    <img src= {{targetImage}} alt="target image" *ngIf = "chores.length === 0 || finishedChores.length >= chores.length+3; else noAllowance">
    <ng-template #noAllowance>
        <p>No allowance yet.</p>
    </ng-template>
</div>
<hr>
<div *ngIf = "chores.length === 0 && finishedChores.length >= 4; else getTreat">
    <h1>Ice cream treat!</h1>
</div>
<ng-template #getTreat>
    <h3>
        To earn ice cream treat:
    </h3>
    <p>Chores list must be empty.</p>
    <p>The Done list must have at least 4 items.</p>
</ng-template>